

.main{
  background-color: rgb(233, 248, 248);
  color:rgb(185, 10, 48);
  padding:2em;
  width:100%;
}

nav{
  background-color: rgb(242, 228, 252);
}

.home,.contact, .not-found{
  display: flex;
  justify-content: center;
  position: relative;
  
  
  padding:1em;
}

.footer{
 background-color: rgb(242, 228, 252);
 padding:3em;
}

.footer p{
  text-align: center;
}